In [5]:
# Load packages
library(readxl)
library(dplyr)
library(tidyr)

In [6]:
# Customer Database from SQL
excel_file_path <- "C:\\Users\\61468\\OneDrive\\Documents\\results.xlsx"

# Read the first sheet from the Excel file into a dataframe
data <- read_excel(excel_file_path)

# Display the first few rows of the dataframe
head(data)

  week_number crn       sales  week_period tenure lifestage      affluence
1 15          121320442 517.46 NULL        617    OLDER FAMILIES NORMAL
2 16          121320442 451.87 1           617    OLDER FAMILIES NORMAL
3 17          121320442 377.22 1           617    OLDER FAMILIES NORMAL
4 18          121320442 480.19 1           617    OLDER FAMILIES NORMAL
5 19          121320442 560.12 2           617    OLDER FAMILIES NORMAL
6 20          121320442 595.02 2           617    OLDER FAMILIES NORMAL
  value_segment sow  sow_ntile_10 ⋯ affluence_tenure_ntile_10
1 H             0.78 2            ⋯ NORMAL + 1
2 H             0.78 2            ⋯ NORMAL + 1
3 H             0.78 2            ⋯ NORMAL + 1
4 H             0.78 2            ⋯ NORMAL + 1
5 H             0.78 2            ⋯ NORMAL + 1
6 H             0.78 2            ⋯ NORMAL + 1
  affluence_lifestage     value_segment_tenure_ntile_10
1 NORMAL + OLDER FAMILIES H + 1
2 NORMAL + OLDER FAMILIES H + 1
3 NORMAL + OLDER FAMILIES H + 1
4 NORMAL + OLDER FAMILIES H + 1
5 NORMAL + OLDER FAMILIES H + 1
6 NORMAL + OLDER FAMILIES H + 1
  value_segment_last_email_group value_segment_marketable_group
1 H + 6                          H + other
2 H + 6                          H + other
3 H + 6                          H + other
4 H + 6                          H + other
5 H + 6                          H + other
6 H + 6                          H + other
  last_email_group_marketable_group lifestage_value_segment
1 6 + other                         OLDER FAMILIES + H
2 6 + other                         OLDER FAMILIES + H
3 6 + other                         OLDER FAMILIES + H
4 6 + other                         OLDER FAMILIES + H
5 6 + other                         OLDER FAMILIES + H
6 6 + other                         OLDER FAMILIES + H
  lifestage_tenure_ntile_10 period_trans_cnt week_period_trans_avg
1 OLDER FAMILIES + 1        exclude + 7      3
2 OLDER FAMILIES + 1        exclude + 7      3
3 OLDER FAMILIES + 1        exclude + 7      3
4 OLDER FAMILIES + 1        exclude + 7      3
5 OLDER FAMILIES + 1        exclude + 7      3
6 OLDER FAMILIES + 1        exclude + 7      3

In [7]:
# select relevant time period
sales_data <- data %>% filter(week_number >= 22)

# Display the first few rows of the dataframe
head(sales_data[order(sales_data$week_number), ])

  week_number crn       sales  week_period tenure lifestage      affluence
1 22          121320442 432.94 3           617    OLDER FAMILIES NORMAL
2 22          121328096  79.47 3           616    YOUNG FAMILIES BUDGET
3 22          121342864 167.75 3           614    RETIREES       BUDGET
4 22          121357354  19.59 3           601    YOUNG FAMILIES BUDGET
5 22          121408985 228.20 3           597    YOUNG FAMILIES NORMAL
6 22          121410182  45.16 3           597    OLDER NO KIDS  NORMAL
  value_segment sow  sow_ntile_10 ⋯ affluence_tenure_ntile_10
1 H             0.78  2           ⋯ NORMAL + 1
2 H             0.63  6           ⋯ BUDGET + 1
3 H             0.65  6           ⋯ BUDGET + 1
4 L             0.30 10           ⋯ BUDGET + 1
5 H             0.78  2           ⋯ NORMAL + 1
6 H             0.73  4           ⋯ NORMAL + 1
  affluence_lifestage     value_segment_tenure_ntile_10
1 NORMAL + OLDER FAMILIES H + 1
2 BUDGET + YOUNG FAMILIES H + 1
3 BUDGET + RETIREES       H + 1
4 BUDGET + YOUNG FAMILIES L + 1
5 NORMAL + YOUNG FAMILIES H + 1
6 NORMAL + OLDER NO KIDS  H + 1
  value_segment_last_email_group value_segment_marketable_group
1 H + 6                          H + other
2 H + 4                          H + email_and_app
3 H + 6                          H + other
4 L + 6                          L + other
5 H + 3                          H + email_only
6 H + 6                          H + other
  last_email_group_marketable_group lifestage_value_segment
1 6 + other                         OLDER FAMILIES + H
2 4 + email_and_app                 YOUNG FAMILIES + H
3 6 + other                         RETIREES + H
4 6 + other                         YOUNG FAMILIES + L
5 3 + email_only                    YOUNG FAMILIES + H
6 6 + other                         OLDER NO KIDS + H
  lifestage_tenure_ntile_10 period_trans_cnt week_period_trans_avg
1 OLDER FAMILIES + 1        period prior + 3 3.0
2 YOUNG FAMILIES + 1        period prior + 3 2.5
3 RETIREES + 1              period prior + 3 3.0
4 YOUNG FAMILIES + 1        period prior + 2 1.5
5 YOUNG FAMILIES + 1        period prior + 3 3.0
6 OLDER NO KIDS + 1         period prior + 1 2.0

In [8]:
# select segments to test
segment_group_names <- c("affluence", "value_segment", "sow_ntile_10", "sow_1dp", "sow_25", "monthly_trans"
,	"affluence_sow_25"	,"affluence_value_segment"	,"affluence_tenure_ntile_10"	,"affluence_lifestage",	"value_segment_tenure_ntile_10"	
,"lifestage_value_segment",	"lifestage_tenure_ntile_10", "tenure_ntile_10", "week_period_trans_avg", "value_segment_last_email_group"
, "value_segment_marketable_group", "last_email_group_marketable_group", "marketable_group", "last_email_group")

# Initialize results dataframe
results <- data.frame(segment_group = character(),
                      segment_name = character(),
                      p_value = numeric(),
                      effect_size = numeric(),
                      mean_before = numeric(),
                      mean_after = numeric(),
                      pooled_sd = numeric(),
                      df = numeric(),
                      cnts_before = numeric(),
                      cnts_after = numeric(),
                      distinct_crns = character(),
                      transactions_before = numeric(),
                      transactions_after = numeric(),
                      #pooled_sd = numeric(),
                      stringsAsFactors = FALSE)
                      



# Set the cutoff date
cutoff_date <- as.numeric(25)

for(var_x in segment_group_names) {
  
# 'var_x' is a column name in sales_data representing a different segment group
  sales_data[[var_x]] <- as.factor(sales_data[[var_x]])
  
  # Split the data into before and after the cutoff date based on each segment
  before_data <- filter(sales_data, week_number < cutoff_date)
  after_data <- filter(sales_data, week_number >= cutoff_date)

  for(segment in levels(sales_data[[var_x]])) {
    before_sales <- before_data %>% filter(.data[[var_x]] == segment) %>% pull(sales)
    after_sales <- after_data %>% filter(.data[[var_x]] == segment) %>% pull(sales)
    
    # Only proceed if both before and after sales have more than one data point
    if(length(before_sales) > 1 & length(after_sales) > 1) {
      t_test_result <- t.test(before_sales, after_sales,
                              alternative = "greater",
                              conf.level = 0.95)
      
      # Calculate effect size (Cohen's d)
      n1 <- length(before_sales)
      n2 <- length(after_sales)
      df = (n1 + n2 - 2)
      pooled_sd <- sqrt(((n1 - 1) * var(before_sales) + (n2 - 1) * var(after_sales)) / df )
      d <- (mean(after_sales) - mean(before_sales)) / pooled_sd
      
      #calculate other metrics 
      trans_before <- sum(before_data %>% filter(.data[[var_x]] == segment) %>% pull(transaction_cnt))
      trans_after <- sum(after_data %>% filter(.data[[var_x]] == segment) %>% pull(transaction_cnt))
      seg_crns <- sales_data %>% filter(.data[[var_x]] == segment) %>% pull(crn)
      distinct_crns <- n_distinct(seg_crns)

      # Append results
      results <- rbind(results, data.frame(segment_group = var_x,
                                           segment_name = segment,
                                           p_value = t_test_result$p.value,
                                           effect_size = d,
                                           mean_before = mean(before_sales),
                                           mean_after = mean(after_sales),
                                           pooled_sd = pooled_sd,
                                           df = df,
                                           cnts_before = n1,
                                           cnts_after = n2,
                                           distinct_crns = distinct_crns,
                                           transactions_before = trans_before,
                                           transactions_after = trans_after
                                           )
                                           )
    }
  }
  
  sales_data[[var_x]] <- as.character(sales_data[[var_x]])
}

# Ordering by column1 (ascending) and column2 (descending  -df$column2 )
results <- results[order(results$segment_group, results$segment_name), ]

head(results)

    segment_group       segment_name            p_value    effect_size
1   affluence           BUDGET                  0.04686791 -0.06617177
2   affluence           NORMAL                  0.16345852 -0.03445106
3   affluence           PREMIUM                 0.08291029 -0.05489996
4   affluence           UNKNOWN                 0.78626769  0.15782805
103 affluence_lifestage BUDGET + MIDAGE NO KIDS 0.17985386 -0.15647476
104 affluence_lifestage BUDGET + NEW FAMILIES   0.42135431 -0.03542962
    mean_before mean_after pooled_sd df   cnts_before cnts_after distinct_crns
1   123.00733   115.11290  119.30210 2566 1284        1284       428
2   133.40643   127.65167  167.04157 3238 1620        1620       540
3   120.77684   114.03522  122.79834 2548 1275        1275       425
4    90.94392   108.36000  110.34843  100   51          51        17
103  64.48855    53.35072   71.17970  136   69          69        23
104 100.35048    96.95476   95.84394  124   63          63        21
    transactions_before transactions_after
1   1104                1070
2   1338                1335
3   1014                 955
4     42                  42
103   52                  47
104   50                  53

In [12]:
setwd("C:\\Users\\61468\\OneDrive\\Documents\\WooliesX")

In [13]:
write.csv(results, "t_test_results.csv", row.names = TRUE)